* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
}

ul {
    font-weight: bold;
    list-style-type: none;
    margin-bottom: 16px;
}

li {
    font-weight: normal;
    padding-left: 16px;
}